// base color
@main: #1ab394;
@chart: #fff;
@shadow: #eeeeee;
@white: #ffffff;
@pageBg: #FAFAFA;
@mainFont: #1ab394;

// font color
@font-333: #333333;
@font-999: #999999;
@font-666: #666666;
@font-888: #888;

// bg
@bf-f7: #f7f8fa;
@bs-e3: #e3e6e7;