html,
body {
  padding: 0 0;
  margin: 0 0;
  background-color: #ebecee;
  width: 100%;
  height: 100%;
  font-family:"Microsoft Yahei";
}

a{
  text-decoration:none;
}

i{
  font-style: inherit;
}

textarea::-webkit-input-placeholder {
  color: #666;
}

// base color
@main: #1ab394;
@mainHover: #e9fcf8;
@main_t: rgba(26, 179, 148, 0.341176470588235);
@chart: #fff;
@shadow: #eeeeee;
@white: #ffffff;
@pageBg: #fafafa;
@mainFont: #1ab394;
@warning: #E6A23C;
@average: #0099ff;

// font color
@font-333: #333333;
@font-303: #303133;
@font-999: #999999;
@font-909:#909399;
@font-666: #666666;
@font-888: #888;
@font-f7f8: #f7f8fa;
@font-f1f1: #f1f1f1;
@font-dcd:#dcdfe6;
@font-f4f5: #f4f4f5;
@font-ebe: #ebeef5;
@ece: #ecedee;
@6a6a: #6a6a6a;
@eeefef: #eeefef;

@ffb: #ffbf00;
@f46: #f4664b;
@main-d:#edfcfa;
@fdf-d:#fdf9ec;
@f46-d:#fff6f3;


// bg
@bf-f7: #f7f8fa;
@bs-e3: #e3e6e7;
@bc_hover: #d2f9f1;
@bc_f5: #f5f5f5;
@bc_c0c : #c0c4cc;
@bc_tr:transparent;
@bc_e7e7:#e7e7e7;

// 红色
@error: red;
@del: #f56262;
@del_6:#d65555;
@del_fc : #fc6969;